$primary-color: #0E49B5;
$primary-darck-color: #102243;
$second-color: #DAE2EA;
$third-color: #767272;
$fourth-color: #3B3E66;



$color-reviews: $second-color;
$color-text-first: $third-color;
$color-active-checkbox: $primary-color;
$shadow-active-checkbox: $primary-darck-color;
$color-btn: $primary-color;
$color-active-btn: $primary-darck-color;
$color-cart-count: $primary-color;
$color-title: $fourth-color;
$color-text-second: $fourth-color;